﻿@model UniversityManagementSystem.Models.Department

@{
    ViewBag.Title = "Department";
}
<link href="~/Content/footer-css.css" rel="stylesheet" />
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Save New Department</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="FormData" class="form">
                        <div class="form-group">
                            <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3">
                                @Html.LabelFor(model => model.Code, new { @class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control col-md-6 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.Code)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label" })<br />
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-6 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-7">
                                <a href="#" class="btn btn-success" onclick="SaveForm()">Save</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var SaveForm = function () {
            var data = $("#FormData").serialize();
            if (!$("#FormData").valid()) {
                return false;
            }
            $.ajax({
                type: "Post",
                url: "/Department/Save",
                data: data,
                success: function (result) {
                    var deptName = $("#Name").val();
                    if (result) {
                        swal(
                            'Good job!',
                            'Successfully Save New Department "'+ deptName +'"',
                            'success'
                        );
                        $("input").removeClass("valid");
                        $(".form")[0].reset();
                    }
                }
            });          
            return true;
        }
    </script>
}



