﻿@model UniversityManagementSystem.Models.Course

@{
    ViewBag.Title = "Course";
}
<style>
    .form-group {
        margin-bottom: 18px;
    }
    .btn {
        margin-top: 0px;
    }
</style>
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Save New Course</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="FormData" class="form">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Code, new {@class = "form-control col-md-7 col-xs-12"})
                                @Html.ValidationMessageFor(model => model.Code)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Name, new {@class = "form-control col-md-7 col-xs-12"})
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Credit, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Credit, new {@class = "form-control col-md-7 col-xs-12"})
                                @Html.ValidationMessageFor(model => model.Credit)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(model => model.Description, new {@class = "form-control col-md-7 col-xs-12"})
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.getAllDepartments, "Id", "Name"), "--Select Department--", new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.DepartmentId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SemesterId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.SemesterId, new SelectList(ViewBag.getAllSemesters, "Id", "SemesterNo"), "--Select Semester--", new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.SemesterId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-8">
                                <a href="#" class="btn btn-success" onclick="SaveForm()">Save</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var SaveForm = function () {
            var data = $("#FormData").serialize();
            if (!$("#FormData").valid()) {
                return false;
            }
            $.ajax({
                type: "Post",
                url: "/Course/Save",
                data: data,
                success: function (result) {
                    if (result) {
                        swal(
                            'Good job!',
                            'Successfully Save New Course',
                            'success'
                        );
                        $("input").removeClass("valid");
                        $("select").removeClass("valid");
                        $("textarea").removeClass("valid");
                        $(".form")[0].reset();
                    }
                }
            });
            return true;
        }
    </script>
}



