﻿.right_col {
   
}
.footer_fixed footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding-top: 5%;
    width: 100%;
}

@media (min-width: 768px) {
    .footer_fixed footer {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .footer_fixed .nav-sm footer {
        margin-left: 0;
    }
}
