﻿@model UniversityManagementSystem.Models.RoomAllocation
@{
    ViewBag.Title = "RoomAllocation";
}

<style>
    .form-group {
        margin-bottom: 18px;
    }

    .btn {
        margin-top: 0px;
    }
    #message {
        color: red;
        font-family: sans-serif;
        font-size: 16px;
        text-align: center;
    }
</style>
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Allocate Classrooms</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <p id="message"></p>
                    <form id="FormData" class="form">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartmentId, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.getAllDepartments, "Id", "Name"), "--Select Department--", new {@class = "form-control col-md-7 col-xs-12"})
                                @Html.ValidationMessageFor(model => model.DepartmentId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.CourseId, new SelectList(" "), "--Select Course--", new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.CourseId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RoomId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.RoomId, new SelectList(ViewBag.getAllRoom, "Id", "RoomNo"), "--Select Room--", new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.RoomId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DayId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.DayId, new SelectList(ViewBag.getAllDay, "Id", "DayName"), "--Select Day--", new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.DayId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StarTime, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.StarTime, new {@type="time" ,@class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.StarTime)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndTime, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.EndTime, new {@type="time", @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.EndTime)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-8">
                                <a href="#" class="btn btn-success" onclick="SaveForm()">Allocate</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            $("#message").text("");
            $("#DepartmentId").change(function () {
                $("#message").text("");
                var deptId = $("#DepartmentId").val();
                var json = { Id: deptId };

                //Load Course 
                $.ajax({
                    type: "POST",
                    url: '/Course/GetCourseByDepartmentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(course) {
                        $("#CourseId").empty();
                        $("#CourseId").append('<option value=' + " " + '>' + "--Select Course--" + '</option>');
                        $.each(course, function(key, value) {
                            $("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                        });
                    }
                });
            });
        });
        $("#StarTime").keypress(function () {
            $("#message").text(" ");
        });
        $("#EndTime").keypress(function () {
            $("#message").text(" ");
        });
        var SaveForm = function() {
            $("#message").text(" ");
            var data = $("#FormData").serialize();
            if (!$("#FormData").valid()) {
                return false;
            }
            var start = $("#StarTime").val();
            var startTime = new Date('1970-01-01T' + start);
            var end = $("#EndTime").val();
            var endTime = new Date('1970-01-01T' + end);
            var officeStart = "09:00";
            var officeStartTime = new Date('1970-01-01T' + officeStart);
            var officeEnd = "17:30";
            var officeEndTime = new Date('1970-01-01T' + officeEnd);
            if (officeStartTime > startTime || officeStartTime > endTime || officeEndTime < startTime || officeEndTime < endTime) {
                $("#message").text("Invalid Time Range! University Start-Time : 9:00 AM & Close-Time : 5:30 PM");
            } else {
                
                $.ajax({
                    type: "Post",
                    url: "/ManageClassRoom/SaveRoomAllocationInfo",
                    data: data,
                    success: function (result) {
                        if (result == "NotOverlap") {
                            swal(
                                'Good job!',
                                'Successfully Allocated',
                                'success'
                            );
                            $("input").removeClass("valid");
                            $("select").removeClass("valid");
                            $("textarea").removeClass("valid");
                            $(".form")[0].reset();
                        } else {
                            $("#message").text(result);
                        }
                    }
                });
            }
            return true;
        }
    </script>
}

