﻿@{
    ViewBag.Title = "View Class Schedule";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>View Class Schedule And Room Allocation Information</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-group">
                    <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3">
                        <label class="control-label" for="DepartmentId">Department</label><br />
                        <select name="DepartmentId" id="DepartmentId" class="form-control col-md-6 col-xs-12">
                            <option value="">--Select Department--</option>
                            @foreach (var department in ViewBag.Departments)
                            {
                                <option value="@department.Id">@department.Name</option>
                            }
                        </select>
                    </div>
                </div><br /><br /><br />
                <div class="table-responsive">
                    <h4>Course Information</h4>
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title" style="display: table-cell;">Course Code </th>
                                <th class="column-title" style="display: table-cell;">Name </th>
                                <th class="column-title" style="display: table-cell;">Schedule Info </th>
                            </tr>
                        </thead>
                        <tbody id="ViewClassSchedule"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#DepartmentId").change(function () {
                var deptId = $("#DepartmentId").val();
                $("#ViewClassSchedule").empty();
                var json = { Id: deptId };
                $.ajax({
                    type: "POST",
                    url: '/ManageClassRoom/GetClassSchedulByDepartmentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (classSchedule) {
                        var i = 0;
                        $.each(classSchedule, function (key, value) {
                            i++;
                            if (i % 2 != 0) {
                                var odd = '<tr class="odd pointer">' +
                                    '<td>' + value.Code + '</td>' +
                                    '<td>' + value.Name + '</td>' +
                                    '<td class="schedule">' + $.each(value.Schedule, function (index, text) {
                                        text
                                    }) + '</td>' +
                                    '</tr>';
                                $("#ViewClassSchedule").append(odd);
                            }
                            else {
                                var even = '<tr class="">' +
                                '<td>' + value.Code + '</td>' +
                                '<td>' + value.Name + '</td>' +
                                '<td>' + $.each(value.Schedule, function (index, text) {
                                    text
                                }) + '</td>' +
                                '</tr>';
                                $("#ViewClassSchedule").append(even);
                            }
                        });

                    }
                });
            });
        });
    </script>
}