﻿
@{
    ViewBag.Title = "Home";
}
<style>
    h3 {
        font-family: monospace;
    }
</style>
<br/><br/><br/><br/>
<h3 class="text-center">*** University Management System ***</h3>
<link href="~/Content/footer-css.css" rel="stylesheet" />