﻿@model UniversityManagementSystem.Models.Student
@{
    ViewBag.Title = "Student";
}


<style>
    .form-group {
        margin-bottom: 18px;
    }

    .btn {
        margin-top: 0px;
    }

    .swal2-popup #swal2-content {
        margin-left: 20%;
        text-align: left;
        font-size: 15px;
        color: #2a547b;
        line-height: 1.5;
        font-family: serif;
    }
    .swal2-popup {
        width: 50em !important;
        padding: 2em !important;
    }
</style>
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Student Registration</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="FormData" class="form">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactNo, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.ContactNo)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Date, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.Date)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.getAllDepartments, "Id", "Name"), "--Select Department--", new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.DepartmentId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-8">
                                <a href="#" class="btn btn-success" onclick="SaveForm()">Register</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {

            $("#Date").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
            $('#Date').datepicker('setDate', 'today');
        });
        var SaveForm = function () {
            var data = $("#FormData").serialize();
            if (!$("#FormData").valid()) {
                return false;
            }
            $.ajax({
                type: "Post",
                url: "/Student/SaveStudent",
                data: data,
                success: function (regNo) {
                    var name = $("#Name").val();
                    var email = $("#Email").val();
                    var contactNo = $("#ContactNo").val();
                    var date = $("#Date").val();
                    var address = $("#Address").val();
                    var deptName = $("#DepartmentId option:selected").text();
                    var sudentInfo = '<ul>' +
                        '<li> Reg. No. : ' + regNo + '</li>' +
                        '<li> Name : ' + name + '</li>' +
                        '<li> Email : ' + email + '</li>' +
                        '<li> Contact : ' + contactNo + '</li>' +
                        '<li> Date : ' + date + '</li>' +
                        '<li> Address : ' + address + '</li>' +
                        '<li> Department : ' + deptName + '</li>'
                        + '</ul';

                    swal(
                        'Registration Success!',
                        '' + sudentInfo + '',
                        'success'
                    );

                    $("input").removeClass("valid");
                    $("select").removeClass("valid");
                    $("textarea").removeClass("valid");
                    $(".form")[0].reset();
                    $('#Date').datepicker('setDate', 'today');
                }
            });

            return true;
        }
    </script>
}

